/* font-family: 'Crimson Text', serif;
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Raleway', sans-serif; */


.main-container {
  height: 100%;
  /* border: 2px solid red; */
  background-color: rgb(220, 197, 170);
  z-index: -1;
}

.nav-box {
  position: relative;
  z-index: 8;
}

a {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

span {
  color: rgb(220, 197, 170);
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:  rgb(253, 244, 236);
}

a:active {
  text-decoration: none;
}

.nav-element {
  /* background-color: aqua; */
  text-align: center;
  padding: 30px;
  
}

#resume {
  position: fixed;
  
}


#about {
  position: fixed;
  left: 91.5%;
}

#gallery {
  position: fixed;
  top: 87.5%;

}

#contact {
  position: fixed;
  top: 87.5%;
  left: 90%;
}

.selector {
  width: 300px;
  height: 200px;
  background-color: rgb(168, 149, 128);
  position: absolute;
  left: 80.2%;
  z-index: -1;
}

#main-photo {
  width: 100vw;
  /* position: absolute; */
  padding-top: 100px;
  /* z-index: 0; */
}

.about-me-text {
  color: rgb(168, 149, 128);
  position: absolute;
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright; */
  font-size: 124px;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 50px;
  left: 51.8%;
  top: 76.7%;
  z-index: 4;
}

.main-text {
  /* border: 1px solid blue; */
  height: 500px;
  background-color: rgb(240, 222, 200);
}

#lightpost {
  opacity: .7;
  height: 750px;
  position: absolute;
  left: 65%;
  top: 70%;
  z-index: 3;

}

.text-cover {
  /* border: 2px solid blue; */
  height: 300px;
  width: 775px;
  background-color: rgb(240, 222, 200);
  position: absolute;
  z-index: 8;
  top: 120%;
  left: 10%;
  display: flex;
  /* box-shadow: -39px 39px 72px -34px rgb(192, 171, 147); */
  border-radius: 5px 5px;

}

button {
  background-color: rgb(240, 222, 200);
  /* transform: rotate(-25deg); */
  margin-left: 100px;
  margin-top: 25px;
  border: none;
}


#linkedin {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

#linkedin:hover {
  color: rgb(165, 148, 127);
}

.bio{
  font-family: 'Roboto Mono', monospace;
  /* border: 2px solid red; */
  width: 50%;
  padding: 20px;
}

p {
  font-weight: bold;
  padding-bottom: 10px;
}

h1 {
  padding-bottom: 10px;
}

ul {
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 10px;
}

#scroll-container {
  /* background-color: rgb(228, 203, 175); */
  overflow: hidden;
  position: absolute;
  top: 102%;
  z-index: 2;
  font-size: 80px;
  text-transform: uppercase;
  color:  rgb(165, 148, 127);;
  font-family: 'Crimson Text', serif;
  
}

#scroll-text {
  text-align: right;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 100s linear infinite;
  -webkit-animation: my-animation 100s linear infinite;
  animation: my-animation 100s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(80%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(80%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
  to {
    -moz-transform: translateX(80%);
    -webkit-transform: translateX(80%);
    transform: translateX(80%);
  }
}