/* BACKGROUND */

* {
  font-family: 'Playfair Display', serif;
  color: black;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}




body {
  background-color: rgba(236, 232, 239, 0.2);
  animation: zoom-in-zoom-out 0.3s ease-out;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(5, 5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.background {
  height: 100vh;
  margin: 0%;
  display: flex;
  align-items: center;
  position: relative;
}

.one {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 10.2vw solid rgba(67, 146, 241, 0.2);
  height: 85vh;
  transition: ease 0.2s;
}

.one:hover {
  border-left: 10.2vw solid rgba(67, 146, 241, 0.6);
}

.one:active {
  transform: translateX(-25px);
}

.two {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-left: 8vw solid rgba(206, 66, 87, 0.2);
  height: 78.3vh;
  transition: ease 0.2s;
}

.two:hover {
  border-left: 8vw solid rgba(206, 66, 87, 0.5);
}

.two:active {
  transform: translateX(-25px);
}

.three {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-left: 8vw solid rgba(255, 127, 81, 0.15);
  height: 71.6vh;
  transition: ease 0.2s;
}

.three:hover {
  border-left: 8vw solid rgba(255, 127, 81, 0.35);
}

.three:active {
  transform: translateX(-25px);
}

.four {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-left: 8vw solid rgba(255, 155, 84, 0.1);
  height: 64.8vh;
  transition: ease 0.2s;
}

.four:hover {
  border-left: 8vw solid rgba(255, 155, 84, 0.4);
}

.four:active {
  transform: translateX(-25px);
}

.five {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-left: 8vw solid rgba(236, 232, 239, 0.3);
  height: 58.1vh;
  transition: ease 0.3s;
}

.five:hover {
  border-left: 8vw solid rgba(236, 232, 239, 0.8);
}

.five:active {
  transform: translateX(-25px);
}

.six {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-left: 8vw solid #ffffff;
  height: 41.6vh;
  transition: ease 0.3s;
}

.seven {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-right: 8vw solid #ffffff;
  height: 26.6vh;
  transition: ease 0.3s;
}

.eight {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-right: 8vw solid rgba(236, 232, 239, 0.3);
  height: 58.1vh;
  transition: ease 0.3s;
}

.eight:hover {
  border-right: 8vw solid rgba(236, 232, 239, 0.8);
}

.eight:active {
  transform: translateX(25px);
}

.nine {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-right: 8vw solid rgba(255, 155, 84, 0.1);
  height: 64.8vh;
  transition: ease 0.3s;
}

.nine:hover {
  border-right: 8vw solid rgba(255, 155, 84, 0.4);
}

.nine:active {
  transform: translateX(25px);
}

.ten {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-right: 8vw solid rgba(255, 127, 81, 0.15);
  height: 71.6vh;
  transition: ease 0.3s;
}

.ten:hover {
  border-right: 8vw solid rgba(255, 127, 81, 0.35);
}

.ten:active {
  transform: translateX(25px);
}

.eleven {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  border-right: 8vw solid rgba(206, 66, 87, 0.2);
  height: 78.3vh;
  transition: ease 0.3s;
}

.eleven:hover {
  border-right: 8vw solid rgba(206, 66, 87, 0.5);
}

.eleven:active {
  transform: translateX(25px);
}

.twelve {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-right: 10.2vw solid rgba(67, 146, 241, 0.2);
  height: 85vh;
  transition: ease 0.3s;
}

.twelve:hover {
  border-right: 10.2vw solid rgba(67, 146, 241, 0.6);
}

.twelve:active {
  transform: translateX(25px);
}

.text-plate {
  position: absolute;
  top: 20vh;
  left: 40vw;
  height: 60vh;
  width: 20vw;
  border-radius: 3px;
  background-color: #f5f5f5a2;
  /* border: 1px solid cyan; */
  /* box-shadow: 0px 0px 45px 25px rgba(235, 235, 235, 0.69); */
}

#contact {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: -6.5vw;
  margin-top: 10vh;
  font-size: 8vh;
  opacity: 0.63
}

#about {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: -6.5vw;
  margin-top: 10vh;
  font-size: 8vh;
  opacity: 0.63
}

#resume {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: -6.5vw;
  margin-top: 10vh;
  font-size: 8vh;
  opacity: 0.63
}

#gallery {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: -6.5vw;
  margin-top: 10vh;
  font-size: 8vh;
  opacity: 0.63
}

