* {
  font-family: 'Playfair Display', serif;
  color: #3d4849f1;
}

.fadeOut {
  animation: fadeOut 300ms ease
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

canvas {
  position: absolute;
  z-index: -1;
  width: 98.9vw;
}

body {
  background-color: #f5f5f5;
  position: relative;
  animation: body-load-in ease 1s;
}


@keyframes body-load-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact, #home {
  writing-mode: vertical-rl;
}





.buttons > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.one {
  position: absolute;
  top: 25.3vh;
  left: 3.7vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 30vh;
  width: 5vw;
  border-radius: 3px;
  transition: ease 1s;
  animation: load-one ease-out 1.3s;
}

@keyframes load-one {
  0% {
    transform: translateX(5vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.one:hover {
  background-color: rgba(206, 66, 87, 0.4);
  transition: ease 0.1s;
}

.one:active {
  scale: 0.9;
  transform: translate(0.3vw, 1.6vh);
}
.cvr1 {
  position: absolute;
  top: 25.3vh;
  left: 8.8vw;
  background-color: #f5f5f5;
  height: 30vh;
  width: 5vw;
  border-radius: 3px;
}



.two {
  position: absolute;
  top: 94vh;
  left: 2vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 10vh;
  width: 11vw;
  border-radius: 3px;
  animation: load-two ease-out 1.3s;
}

@keyframes load-two {
  0% {
    transform: translateY(11vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

.two:hover {
  background-color: rgba(206, 66, 87, 0.4);
  transition: ease 0.1s;
}

.two:active {
  scale: 0.9;
  transform: translate(0.3vw, 1.6vh);
}

.cvr2 {
  position: absolute;
  top: 104vh;
  left: 2vw;
  background-color: #f5f5f5;
  height: 10vh;
  width: 11vw;
  border-radius: 3px;
}


.three {
  position: absolute;
  top: 124vh;
  left: 10.4vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 17vh;
  width: 5vw;
  border-radius: 3px;
  animation: load-three ease-out 1.3s;
}

@keyframes load-three {
  0% {
    transform: translateX(5vw);
  }

  100% {
    transform: translateY(0vw);
  }
}

.three:hover {
  background-color: rgba(206, 66, 87, 0.4);
  transition: ease 0.1s;
}

.three:active {
  scale: 0.9;
  transform: translate(0.3vw, 1.6vh);
}

.cvr3 {
  position: absolute;
  top: 124vh;
  left: 15.5vw;
  background-color: #f5f5f5;
  height: 17vh;
  width: 5vw;
  border-radius: 3px;
}

.four {
  position: absolute;
  top: 8vh;
  left: 16.1vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 12vh;
  width: 5vw;
  border-radius: 3px;
  animation: load-four ease-out 1.3s;
}

@keyframes load-four {
  0% {
    transform: translateX(-5vw);
  }

  100% {
    transform: translateY(0vw);
  }
}

.four:hover {
  background-color: rgba(206, 66, 87, 0.4);
  transition: ease 0.1s;
}

.four:active {
  scale: 0.9;
  transform: translate(-0.3vw, -1.6vh);
}

.cvr4 {
  position: absolute;
  top: 8vh;
  left: 11vw;
  background-color: #f5f5f5;
  height: 12vh;
  width: 5vw;
  border-radius: 3px;
}

.five {
  position: absolute;
  top: 34.8vh;
  left: 37.05vw;
  /* background-color: rgba(206, 66, 87, 0.2); */
  background-image: url(./calculator-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 8vw;
  border-radius: 3px;
  animation: load-five ease-out 1.3s;
  transition: ease-out 0.7s;
}

@keyframes load-five {
  0% {
    transform: translateY(-20vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

.five:hover {
  transform: scale(1.5, 1.5) translate(-1.3vw, 3.3vh);
}

.five:active {
  scale: 0.99;
  transform: translate(0.1vw, -0.2vh);
}

.cvr5 {
  position: absolute;
  top: 14.5vh;
  left: 37.05vw;
  background-color: #f5f5f5;
  height: 20vh;
  width: 8vw;
  border-radius: 3px;
}

.six {
  position: absolute;
  top: 118vh;
  left: 45.05vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 18vh;
  width: 2vw;
  border-radius: 3px;
  animation: load-six ease-out 1.3s;

}

@keyframes load-six {
  0% {
    transform: translateX(-2vw);
  }

  100% {
    transform: translateY(0vw);
  }
}

.cvr6 {
  position: absolute;
  top: 118vh;
  left: 43vw;
  background-color: #f5f5f5;
  height: 18vh;
  width: 2vw;
  border-radius: 3px;
}

.seven {
  position: absolute;
  top: 24vh;
  left: 61.9vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 34vh;
  width: 3.8vw;
  border-radius: 3px;
  animation: load-seven ease-out 1.3s;
}

@keyframes load-seven {
  0% {
    transform: translateX(3.8vw);
  }

  100% {
    transform: translateY(0vw);
  }
}

.cvr7 {
  position: absolute;
  top: 24vh;
  left: 65.75vw;
  background-color: #f5f5f5;
  height: 34vh;
  width: 3.8vw;
  border-radius: 3px;
}

.eight {
  position: absolute;
  top: 81vh;
  left: 65.7vw;
  background-color: rgba(206, 66, 87, 0.2);
  height: 19vh;
  width: 8vw;
  border-radius: 3px;
  animation: load-eight ease-out 1.3s;
}

@keyframes load-eight {
  0% {
    transform: translateX(-8vw);
  }

  100% {
    transform: translateY(0vw);
  }
}

.cvr8 {
  position: absolute;
  top: 81vh;
  left: 57.6vw;
  background-color: #f5f5f5;
  height: 19vh;
  width: 8vw;
  border-radius: 3px;
}

