/* font-family: 'Teko', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
h1 {
  font-family: "Teko", sans-serif;
  font-size: 70px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-family: "Ubuntu", sans-serif;
}

p {
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
}

ul {
  font-family: "Ubuntu", sans-serif;
}

.grid-container {
  /* border: 1px solid red; */
  display: flex;
  height: 125%;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.left {
  /* border: 1px solid rgb(255, 0, 238); */
  height: 95%;
  width: 33%;
}

.left > div {
  width: 100%;
  height: 50%;
  flex-direction: column;
  /* border-radius: 10% 30% 50% 70%; */
  /* border: 1px solid rgb(0, 255, 30); */
}

.right {
  margin-left: 20px;
  /* border: 1px solid rgb(238, 255, 0); */
  height: 100%;
  width: 67%;
}

.right > div {
  width: 100%;
  height: 22.3%;
  flex-direction: column;
  /* border: 1px solid rgb(0, 255, 30); */
}

.one {
  background-image: url(./kanye-west.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10% 30% 50% 70%; 
}

.two {
  background-color: rgb(215, 206, 181);
  text-align: center;
  padding-top: 20%;
  border-radius: 25% 10%; 
}

.three {
  text-align: left;
}

.three > h1 {
  margin-top: 50px;
}

.four {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.child-4 {
  /* border: 1px solid red; */
}

.five {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.child-5 {
  /* border: 1px solid red; */
}

.six {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.child-6 {
  /* border: 1px solid red; */
}

#inbtw {
  height: 40px;
}

#inbtw-2 {
  height: 40px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}
