* {
  font-family: 'Playfair Display', serif;
}


body {
  position: relative;
  background-color: #f5f5f5a2;
}



canvas {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;

}

h1 { 
  text-align: center;
  font-size: 10vw;
  padding-top: 15vh;
  opacity: 0.63;
}

h3 {
  text-align: center;
  padding-top: 10vh;
  margin-bottom: -5vh;
  font-size: 3vw;
}

.main-container {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 155, 84, 0.17);
  width: 10vw;
  height: 20vh;
  border-radius: 3px;
  margin: 0vw 5vw;
  transition: ease 0.4s;
  box-shadow: rgba(67, 146, 241, 0.2) 55px -55px, rgba(236, 232, 239, 0.2) 105px 105px, rgba(206, 66, 87, 0.2) -155px -155px, rgba(255, 127, 81, 0.2) -205px 205px, rgba(255, 155, 84, 0.2) -255px -255px;
}

.resume:hover {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translateY(-2px);
}

.resume:active {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
  transition: ease 0.15s;
}

.resume:focus {
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 155, 84, 0.17);
  width: 10vw;
  height: 20vh;
  border-radius: 3px;
  margin: 0vw 5vw;
  transition: ease 0.4s;
  box-shadow: rgba(67, 146, 241, 0.2) 105px 105px, rgba(236, 232, 239, 0.2) -55px -55px, rgba(206, 66, 87, 0.2) -205px 205px, rgba(255, 127, 81, 0.2) -155px -155px, rgba(255, 155, 84, 0.05) 255px -255px;
}

.contact:hover {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translateY(-2px);
}

.contact:active {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
  transition: ease 0.15s;
}

.contact:focus {
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 155, 84, 0.17);
  width: 10vw;
  height: 20vh;
  border-radius: 3px;
  margin: 0vw 5vw;
  transition: ease 0.4s;
  box-shadow: rgba(67, 146, 241, 0.2) 55px -55px, rgba(236, 232, 239, 0.2) 105px 105px, rgba(206, 66, 87, 0.2) -155px -155px, rgba(255, 127, 81, 0.2) -205px 205px, rgba(255, 155, 84, 0.2) -255px -255px;
}

.about:hover {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translateY(-2px);
}

.about:active {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
  transition: ease 0.15s;
}

.about:focus {
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 155, 84, 0.17);
  width: 10vw;
  height: 20vh;
  border-radius: 3px;
  margin: 0vw 5vw;
  transition: ease 0.4s;
  box-shadow: rgba(67, 146, 241, 0.05) 105px 105px, rgba(236, 232, 239, 0.2) -55px -55px, rgba(206, 66, 87, 0.2) -205px 205px, rgba(255, 127, 81, 0.2) -155px -155px, rgba(255, 155, 84, 0.2) -255px -255px;
}

.gallery:hover {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translateY(-2px);
}

.gallery:active {
  background-color: rgba(255, 155, 84, 0.4);
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
  transition: ease 0.15s;
}

.gallery:focus {
  box-shadow: rgba(92, 128, 188, 0.6) -5px 5px, rgba(236, 232, 239, 0.5) -10px 10px, rgba(206, 66, 87, 0.4) -15px 15px, rgba(255, 127, 81, 0.3) -20px 20px, rgba(255, 155, 84, 0.2) -25px 25px;
  transform: translate(-2px, 2px);
}


h2 {
  color: black;
  font-size: 2vw;
  text-shadow: #e0b0d515 0 2px 4px;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.random {
  width: 100vw;
  height: 13vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.642);
}



@media (max-width: 1200px) {


  .random {
    display: none;
  }

  .main-container {
    padding-top: 5vh;
  }

  h3 {
    font-size: 5vw;
    margin-bottom: 0px;
  }

  h2 {
    font-size: vw;
  }

  .resume {
    width: 25vw;
    background-color: rgba(92, 128, 188, 0.3);
    margin-bottom: 5vh;
    margin-top: 0px;
  }

  .about {
    width: 25vw;
    background-color: rgba(92, 128, 188, 0.3);
    margin-bottom: 5vh;
    margin-top: 0px;
  }

  .contact {
    width: 25vw;
    background-color: rgba(92, 128, 188, 0.3);
    margin-bottom: 5vh;
    margin-top: 0px;
  }

  .gallery {
    width: 25vw;
    background-color: rgba(92, 128, 188, 0.3);
    margin-bottom: 5vh;
    margin-top: 0px;
  }

  .flex {
    display: grid;
    grid-template-columns: 30vw 30vw;

  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 15vh;
  }
  
  h2{
    font-size: 10vh;
  }

  h3 {
    font-size: 7vh;
  }
  
  .flex {
    display: initial;
  }

  canvas {
    height: 100%;
  }

  .resume{
    width: 80vw;
    margin-bottom: 3vh;
    font-size: 5vw;
    background-color: rgba(92, 128, 188, 0.3);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,;
  }

  .contact {
    width: 80vw;
    margin-bottom: 3vh;
    font-size: 5vw;
    background-color: rgba(92, 128, 188, 0.3);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,;
  }

  .about {
    width: 80vw;
    margin-bottom: 3vh;
    font-size: 5vw;
    background-color: rgba(92, 128, 188, 0.3);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,;
  }

  .gallery {
    width: 80vw;
    margin-bottom: 3vh;
    font-size: 5vw;
    background-color: rgba(92, 128, 188, 0.3);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,;
  }


}

@media 
(max-width: 599px) {
  h1 {
    font-size: 8vh;
    padding: 10vh 4vw 0vh 4vh;
  }

  h2 {
    font-size: 5vh;
  }

  h3 {
    font-size: 5vh;
  }
}

@media 
(max-width: 450px) {
  h1 {
    font-size: 6vh;
  }

}

@media 
(max-width: 360px) {
  h1 {
    font-size: 3vh;
  }

  h2 {
    font-size: 4vh;
  }

  h3 {
    font-size: 3vh;
  }

}

#target {
  height: 100px;
  background-color: red;
}