/* font-family: 'Crimson Text', serif;
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Raleway', sans-serif; */

.main-container {
  height: 100vh;
  /* border: 2px solid red; */
  background-color: rgb(220, 197, 170);
  z-index: -2;
}

h1 {
  position: absolute;
  z-index: 1;
  color: rgb(87, 77, 66);
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 235px;
  margin-left: 50px;
  /* border: 2px solid red; */
}

.text-title {
  color: rgb(168, 149, 128);
  font-family: 'Raleway', sans-serif;
  /* font-weight: 100; */
  text-align: center;
  font-style: italic;
  font-size: 28px;
  position: absolute;
  z-index: 4;
  left: 13%;
  top: 340px;
}

.der {
  color: rgb(225, 214, 202);
  position: absolute;
  z-index: 3;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 235px;
  left: 37%;
}

.wan {
  color: rgb(201, 189, 178);
  position: absolute;
  z-index: 3;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 235px;
  top: 50.5%;
  left: 62%;
}

img {
  z-index: -1;
}

.photo {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 30px;
  left: 62%;
  /* z-index: -1; */

}

.nav-box {
  position: relative;
  z-index: 2;
}

a {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

span {
  color: rgb(220, 197, 170);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:  rgb(253, 244, 236);
}

a:active {
  text-decoration: none;
}

.nav-element {
  /* background-color: aqua; */
  text-align: center;
  padding: 30px;
  
}

#resume {
  position: fixed;
  
}


#about {
  position: fixed;
  left: 91.5%;
}

#gallery {
  position: fixed;
  top: 87.5%;

}

#contact {
  position: fixed;
  top: 87.5%;
  left: 90%;
}

.selector {
  width: 600px;
  height: 300px;
  background-color: rgb(168, 149, 128);
  position: absolute;
  left: 40%;
  z-index: -1;
}

