body {
  background-color: #ffffff;
}

.nav-bar {
  display: flex;
  justify-content: center;
  /* border: 2px solid #2c348f; */
}

button {
  align-items: center;
  appearance: none;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  border-width: 0;
  /* box-shadow: #2c348fb3 0 2px 4px,#2c348f44 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
  box-sizing: border-box;
  color: #2c348f;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}


button:hover {
  box-shadow: #2c348f67 0 2px 4px,#2c348f44 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #2c348f62 0 3px 7px inset;
  transform: translateY(2px);
}

h1 { 
  width: 21vw;
  font-family: "JetBrains Mono",monospace;
  /* border: 1px solid #2c348f; */
  font-weight: 700;
  color: #2c348f;
  font-size: 40px;
  padding: 15px 5px 15px 15px;
  margin-left: 39.5vw;
  /* box-shadow: #2c348f67 0 2px 4px,#2c348f44 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
}

/* h1:hover {
  box-shadow: #2c348f67 0 2px 4px,#2c348f44 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
} */

h1:active {
  box-shadow: #2c348f62 0 3px 7px inset;
  transform: translateY(2px);
}

.main-container {
  height: 80vh;
  width: 75vw;
  margin-left: 12.5vw;
  /* border: 2px solid #2c348f; */
  display: grid;
  grid-template-columns: 20vw, 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  /* border: 2px solid red; */
  padding: 10px;
}

.flex-2 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.button {
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  width: 15vw;
  height: 30vh;
  box-shadow: #2c348f67 0 2px 4px,#2c348f44 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  
}

.button:hover {
  box-shadow: #2c348f67 0 2px 4px,#2c348f44 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #2c348f62 0 3px 7px inset;
  transform: translateY(2px);
}